*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: brown;
    color: white;
    font-size: 30px;
    text-align: center;
    display: grid;
    place-content: center;
}