*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    line-height: 1.6;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    background-color: #e0e0e0;
}

article{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header{
    display: grid;
    place-items: center;
    background-color: rgb(98, 98, 223);
    color: #e0e0e0;
    font-size: 40px;
}

.imagen{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}